<div class="container">
  <h1>Survey Name: <%= @survey.title %></h1>
  <form name='<% @survey.title %>' action='/survey/<%= @survey.id %>' method='post'>
    <input type="hidden" name="survey_id" value="<%= @survey.id %>">
    <% @survey.questions.each do |question| %>
    <br>
      <%= question.description %><br><br>
      <% question.choices.each do |choice| %>

        <input type="hidden" name="question" value="<%= question.id %>">
        <input type="radio" name="answer" value="<%= choice.id %>"> <%= choice.possible_choice %><br>
      <% end %>
    <% end %>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
