<div class="container">
  <h1>Survey Name: <%= @survey.title %></h1>
  <div>
    <form name='<% @survey.title %>' action='/survey/<%= @survey.id %>' method='post'>
      <input class='survey_id' type="hidden" name="survey_id" value="<%= @survey.id %>">
      <div>
        <ul class='questions'>
        <% question_counter = 0 %>
        <% @survey.questions.each do |question| %>
        <li>
        <%= "Question #{@survey.questions.index(question) + 1} of #{@survey.questions.count}" %>
        <% question_counter += 1%>
        <br><br>

          <%= question.description %><br><br>
          <% question.choices.each do |choice| %>

            <input type="radio" name="<%=question_counter%>" value="<%= choice.id %>"> <%= choice.possible_choice %><br>
          <% end %>
            <br>
          </li>
        <% end %>
        </ul>
      </div>
      <br>
      <input type="hidden" name="question_count" value="<%= question_counter %>">
      <div class="nav-buttons">
        <a href="#" id='previous-question'>Previous</a>
        <a href="#" id='next-question'>Next</a>
        <input id="submit_button" type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>
