<div class="container">
  <h2>Welcome to your Kongboard</h2>

  <div class="large-btn">
    <a href="/survey/new">Create New Survey</a>
  </div>
  <div class='survey-type'>
    <h3>List of my surveys</h3>
    <% if @created_surveys %>
      <div class="survey-list">
        <% @created_surveys.each do |survey| %>
          <ul>
            <li><a href="/survey/<%= survey.id %>"><%= survey.title %></a></li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='survey-type'>
    <h3>Surveys you have taken</h3>
     <% if @completed_surveys %>
       <div class="survey-list">
          <% @completed_surveys.each do |completed_survey| %>
            <ul>
              <li><a href="/survey/<%= completed_survey.id %>"><%= completed_survey.title %></a></li>
            </ul>
          <% end %>
        </div>
      <% end %>
  </div>

  <div class='survey-type'>
    <h3>Choose a survey</h3>
      <% if @available_surveys %>
        <div class="survey-list">
          <% @available_surveys.each do |available_survey| %>
            <ul>
              <li><a href="/survey/<%= available_survey.id %>"><%= available_survey.title %></a></li>
            </ul>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
